/* critical */

.new.card {
    order: 99;
}

.new .cardtitle {
    margin: 0;
    padding: 0;
    z-index: 0;
    transition: all 0.3s ease;
}

.new .cardtitle:hover:not(:focus) {
    outline: 1px solid var(--color5);
}

.new .cardtitle:focus {
    box-shadow: 0 0 0.1rem 0 var(--color5);
}

.new .thumbnail {
    font-size: var(--thumbnail-size);
    line-height: var(--thumbnail-size);
    text-align: center;
    color: var(--color2);
    transition: all 0.2s ease;
    cursor: pointer;
    /* padding: 0; */
    /* margin: 0; */
}

.new .thumbnail:hover:not(:active) {
    transform: scale(0.8);
}

.new .actions:not(.detached) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.actions {
    animation: bottomin 0.3s ease;
}

.done,
.cancel {
    flex: 1 1 49%;
    margin: 0;
    font-size: 1rem;
    padding: var(--default-margin);
    text-align: center;
    color: white;
    cursor: pointer;
}

.done {
    background-color: var(--color4);
}

.cancel {
    background-color: lightcoral;
}


/* non critical */

p[contentEditable="true"] div {
    display: inline-block;
}