* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /* box-shadow: var(--black-shadow); */
    transition: all 0.3s ease;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    font-family: sans-serif;
    --color1: rgba(241, 227, 243, 1);
    --color2: rgba(194, 187, 240, 1);
    --color3: rgba(143, 184, 237, 1);
    --color4: rgba(98, 191, 237, 1);
    --color5: rgba(53, 144, 243, 1);
    --black-shadow: 0 0 0.3rem 0.01rem black;
    --big-black-shadow: 0 0 1rem 0.04rem black;
}


/* Splash page & Banner */

.splash {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("splash/small.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.splash .info {
    position: absolute;
    padding: 0 1rem;
    bottom: 4rem;
    right: 0;
    width: 61%;
    max-height: 70%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem 0 0 1rem;
}

.splash .below:not(.detached) {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.below i {
    animation: up 2s ease infinite;
}

.banner:not(.detached) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--black-shadow);
    padding: 0 1rem;
    animation: topin 0.6s ease forwards;
    height: 3rem;
    z-index: 3;
}

.fa-bars {
    cursor: pointer;
    padding: 0.6rem;
}

#toc {
    position: fixed;
    right: 0;
    top: 3rem;
    max-height: calc(100% - 3rem);
    overflow-y: auto;
    animation: rightin 0.3s ease forwards;
    background-color: white;
    z-index: 2;
}

#toc a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-bottom: 1px solid var(--color5);
}

#toc a:hover {
    background-color: var(--color2);
}


/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    padding-top: 3rem;
}

.card {
    width: 24rem;
    height: 13rem;
    position: relative;
    box-shadow: var(--black-shadow);
    border-radius: 1rem;
    margin: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-areas: "expand expand" "title title" "brief thumbnail";
    grid-template-rows: 15% 20% 65%;
    grid-template-columns: 61% 39%;
    justify-items: stretch;
    overflow-y: hidden;
}

.card.expanded {
    grid-template-areas: "expand expand" "title thumbnail" "brief thumbnail" "detail detail";
    grid-template-rows: 3rem auto auto auto;
    box-shadow: var(--big-black-shadow);
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.card.expanded>*:not(.expand) {
    padding: 1rem;
}

.card:not(.expanded) .details {
    display: none;
}

.card>.expand {
    grid-area: expand;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--color5);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.card>h2 {
    text-align: center;
    grid-area: title;
    margin: 0.5rem;
}

.card>.thumbnail {
    grid-area: thumbnail;
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
}

.card>.brief {
    grid-area: brief;
    margin: 0.5rem;
}

.card:not(.expanded)>.brief {
    overflow-y: auto;
}

.card>.details {
    grid-area: detail;
    margin: 0.5rem;
}

.card>.details iframe {
    width: 100%;
    min-height: 30rem;
}


/* Global elements */

.modalbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/* animations */

@keyframes up {
    from {
        transform: translateY(0);
        color: var(--color1);
    }
    to {
        transform: translateY(-50%);
        color: var(--color5);
    }
}

@keyframes topin {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightin {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* responsive */

@media screen and (min-width: 48rem) {
    /* apply only to large screen */
    .splash {
        background-image: url("splash/big.jpeg");
    }
    .mobileonly {
        display: none;
    }
}

@media screen and (max-width: 48rem) {
    /* apply only to small screen */
    .desktoponly {
        display: none;
    }
    .card.expanded>*:not(.expand) {
        padding: 0.5rem;
    }
}


/* Utility */

.detached {
    display: none;
}

.hidden {
    visibility: hidden;
}

.fillwidth {
    width: 100%;
}

.fillheight {
    height: 100%;
}