.moreBelow {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 1;
}

.moreBelow div {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: seagreen;
    margin: 0;
    padding: 1rem;
    box-shadow: 0 0 5rem 2rem rgb(255, 255, 255);
    animation: glow 0.6s infinite alternate;
    animation-play-state: running;
}

.moreBelow div:hover {
    cursor: pointer;
    animation-play-state: paused;
}

.moreBelow div::before {
    margin: 0;
    padding: 0;
    display: block;
    border-left: 0.3rem solid rgba(255, 255, 255, 0.9);
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.9);
    height: 2rem;
    width: 2rem;
    transform: rotate(-45deg);
    content: "";
}

@keyframes glow {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

.modal {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.modal .close {
    text-align: right;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
}

.modal .close:hover {
    color: white;
}

.inModal {
    box-shadow: 0 0 1rem 0 rgba(30, 107, 184, 0.5);
    border-radius: 1rem;
    width: auto;
    padding: 1rem;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: visible;
}

#keynote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#keynote img {
    width: 100%;
}

#keynote .keynote {
    box-shadow: 0 0 1rem 0 rgba(30, 107, 184, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1%;
    width: 97%;
}

@media screen and (min-width: 50rem) {
    #keynote .keynote {
        width: 48%;
    }
}

#Gmap {
    width: 100%;
    height: 30rem;
}

.twitter {
    max-height: 30rem;
    overflow-y: auto;
}

@media screen and (min-width:50rem) {
    .twitter {
        position: absolute;
        right: 5%;
        top: 1rem;
        width: 18%;
    }
    main {
        margin-right: 25%;
    }
}

.logo {
    max-width: 5rem;
    max-height: 5rem;
}