.aSpeaker {
    box-shadow: 0 0 5px 0 #159957;
    padding: 1rem;
    border-radius: 1rem;
    width: auto;
    max-height: 20rem;
    overflow-y: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}