* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

.unscrollable {
    overflow: hidden;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    /*margin-bottom: 1rem;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: opacity 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
    /*opacity: 0.8;*/
    text-decoration: none;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    border-color: rgba(30, 107, 184, 0.3);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem 0;
        font-size: 0.9rem;
    }
}

.page-header {
    color: #fff;
    text-align: center;
    padding: 3.2rem 0 0 0;
    /*background: url('../banner.jpg') no-repeat center;
    background-size: contain;*/
}

.banner {
    width: 100%;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

#nav .btn {
    border: none;
    border-radius: 0;
    min-width: 12rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}

@media screen and (max-width: 39rem) {
    #nav {
        position: initial;
    }
    .page-header {
        padding: 0;
    }
}

#nav .btn:hover:not(:active) {
    box-shadow: 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.3);
}

.btn:active {
    box-shadow: 0 0.2rem 0.2rem 0 rgba(30, 107, 184, 0.5);
}

.modal {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}

.modal .close {
    text-align: right;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
}

.modal .close:hover {
    color: white;
}

.inModal {
    box-shadow: 0 0 1rem 0 rgba(30, 107, 184, 0.5);
    border-radius: 1rem;
    width: auto;
    padding: 1rem;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: visible;
}

.hidden {
    display: none;
}

.main-content {
    position: relative;
}

.main-content img {
    max-width: 100%;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}

.main-content p {
    margin-bottom: 1em;
}

.main-content ul,
.main-content ol {
    margin-top: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th,
.main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

#submit {
    border-radius: 1rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#submit .btn {
    background: #159957;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 64em) {
    .main-content {
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 1rem 4rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}