/* New Code*/
.dummy {
  z-index: -1;
  position: absolute;
  top: -3rem;
}

@media screen and (max-width: 767px) {
  /* phone only */
  body {
    --default-margin: 0.7rem;
    --thumbnail-size: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* pad only */
  body {
    --default-margin: 1rem;
    --thumbnail-size: 6rem;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop only */
  body {
    --default-margin: 1.1rem;
    --thumbnail-size: 7rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* phone only */
  .card {
    border-bottom: 1px solid grey;
    margin: 0;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  /* nonphone */
  .card {
    flex: 1 0 auto;
    max-height: 18rem;
    border-radius: 4px;
    box-shadow: var(--black-shadow);
    margin: 0.5rem;
    width: 20rem;
  }
}

.card-action-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: var(--color5);
}

a.card-action {
  text-align: center;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  margin: 0;
  transition: transform 0.1s ease;
  will-change: transform;
}

a.card-action:hover:not(:active) {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  /* phone only */
  .card-action-wrapper {
    background-color: transparent;
  }

  a.card-action {
    background-color: var(--color5);
    padding: 0.5rem;
    margin: 0.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.7rem;
  }
}

.card-content {
  /* allow scrolling in y direction if on desktop */
  overflow-x: hidden;
  padding: var(--default-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.keynote{
  position: absolute;
  top:0;
  right:0;
  padding: 0 0 0 1rem;
  line-height: 1.8rem;
  background: #ed2f2f;  
  color: white;
}

.flag {
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  --flagwidth: 8rem;
  width: var(--flagwidth);
}

.flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 0.9rem solid transparent;
  border-top: 0.9rem solid transparent;
  border-left: 1rem solid white;
}

@media screen and (max-width: 767px) {
  /* phone only */
  .card-content {
    /* no sub scrolling on touch screens */
    overflow: hidden;
  }
}

.card-content > .card-title {
  max-width: calc(100% - var(--thumbnail-size) - 1rem);
  padding: 0 1rem 0 0;
}

.card-content > .speaker-name {
  flex: 1 auto;
  max-width: calc(100% - var(--thumbnail-size) - 1rem);
  padding: 0 0 0 1rem;
}

.speaker-name > a {
  display: block;
  color: var(--color5);
}

.talk-title + p,
h3 + p,
h2 + p,
h4 + p,
p + p {
  margin-top: 0;
}

.talk-title {
  flex: 1 0 100%;
}

.about-speaker {
  margin: 0;
}
.speakers .pic > img {
  border-radius: 50%;
}
.pic {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  padding: 0;
  margin: 0.5rem 0;
  text-align: center;
  font-size: calc(var(--thumbnail-size) - 1rem);
}

.pic > svg,
.pic > img {
  width: 100%;
  height: 100%;
}
.readmore {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
