/* z index
highest 10: nav
6 refresh
5 nav
3 modalbg
2 add card button, expand button
 0: default
 -1 card title
*/

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /* box-shadow: var(--black-shadow); */
    /* transition: all 0.3s ease; */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    --color1: rgba(241, 227, 243, 1);
    --color2: rgba(194, 187, 240, 1);
    --color3: rgba(143, 184, 237, 1);
    --color4: rgba(98, 191, 237, 1);
    --color5: rgba(53, 144, 243, 1);
    --black-shadow: 0 0 0.3rem 0.01rem black;
    --big-black-shadow: 0 0 1rem 0.04rem black;
}

body.modalopen {
    overflow: hidden;
}

a {
    /* touchabble area */
    padding: 0.5rem;
}


/* Splash page & Nav */

#splash {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    /* height: 20%; */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ieee {
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.whitecircle {
    width: 25rem;
    height: 25rem;
    margin: var(--default-margin);
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .whitecircle {
        width: 20rem;
        height: 20rem;
    }
}
@media screen and (max-width: 376px) {
    /* phone only */
    .whitecircle {
        width: 19rem;
        height: 19rem;
    }
}


.points {
    display: flex;
    flex-wrap: wrap;
    max-height: 6rem;
    margin: 0 0 1rem 0;
    align-content: flex-end;
    width: 100%;
}

#splash img {
    max-width: 88%;
    flex: 1 1 auto;
    margin: 1rem;
}

#nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: var(--big-black-shadow);
    height: 3rem;
}

#nav.ontop {
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: var(--color5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

#nav:not(.ontop) #header {
    display: none;
}

#nav svg{
    font-size: 1.5rem;
}

#header {
    justify-self: center;
    align-self: center;
    margin: auto;
}

#socialmedia {
    padding: 0 0 0 var(--default-margin);
    justify-self: start;
    align-self: center;
}

#socialmedia a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.ontop #socialmedia a {
    color: white;
}

#socialmedia svg {
    transition: all 0.1s ease;
}

#socialmedia svg:hover:not(:active) {
    transform: scale(1.1);
}

#ham {
    cursor: pointer;
    justify-self: end;
    align-self: center;
    margin: 0 var(--default-margin) 0 0;
}

#toc {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    animation: rightin 0.3s ease forwards;
    background-color: white;
    z-index: 10;
    box-shadow: var(--big-black-shadow);
}

.navitem {
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navitem:first-child {
    margin: 1rem 0 0 0;
}

.navitem:last-child {
    margin: 0 0 1rem 0;
}

.navitem:hover:not(:active) {
    background-color: var(--color2);
}


/* Shared elements */

.modalbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

#reload {
    position: fixed;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    background-color: var(--color4);
    color: white;
    top: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    left: calc(50% - 2rem);
    animation: topin 0.2s ease;
    transition: all 0.2s ease;
    z-index: 6;
}

#reload.activated {
    transform: rotate(90deg);
    box-shadow: var(--big-black-shadow);
}

#reload.active {
    display: initial;
    animation: spin 1s linear infinite;
}


/* responsive */

@media screen and (min-width: 769px) {
    /* apply only to large screen */
    #splash {
        background-image: url("https://rainshen49.github.io/hellocon/2018/splash/bg_landscape.png");
    }
    
    #nav {
        padding: 0 1rem;
    }
    .mobileonly {
        display: none;
    }
}

.content {
    transition: all 0.2s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    /* apply only to small screen */
    #splash {
        background-image: url("https://rainshen49.github.io/hellocon/2018/splash/bg_por.png");
    }
    .desktoponly {
        display: none;
    }
    #nav.ontop {
        grid-template-columns: auto auto auto;
    }
}


/* Utility */

.detached {
    display: none;
}

.rounded {
    border-radius: 4px;
}